.WeatherCardWrapper{
    margin: 20px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgb(197, 197, 197);
    padding: 10px;
}

.WeatherCardDetails{
    background-color: rgba(240, 248, 255, 0.558);
    padding: 10px
}

.WeatherCardImage{
    width: 200px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.WeatherCardImage svg{
    height: auto;
    width: 100%;
}

.mainBar{
    height: auto;
    width: 100%;
}
